/* Ninguna de las imagenes son de mi propiedad, a continuación están los links de los autores

Imágenes en Unsplash: https://unsplash.com/@xps
Logo Dell: https://worldvectorlogo.com/logo/dell-1

*/

:root {
    --dark: #fcfaf7;
    --dark-x: #f1f0e7; 
    --light: #070606;
    --rojo: #080808;
    --fondo: #faf8f5; /* Color café claro */
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: #0c0c0c;
        background-color: var(--fondo); /* Cambia el color de fondo */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#subir {
    margin-top: 20px;
}

.button {
    background-color: var(--rojo); /* Cambiar a un color rojo */
    border: none;
    color: var(--light); /* Texto en blanco */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.text-light { color: var(--dark) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

footer {
    background-color: rgba(26, 25, 25, 0.664);
    color: rgb(14, 11, 11);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#fuente {
    color: var(--rojo);
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-left: 20px;
}

#piedepag {
    font-family: 'Bebas Neue', cursive;
    color: black; /* Cambia el color a negro */
    font-size: 20px;
}

footer#piedepag p {
    color: black !important; /* Aumentar la especificidad */
}

nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    color: var(--rojo);
}

#separarsearch {
    padding-right: 20px;
}

.img-1 {
    background-image: url('/static/img/imagenes/Fondos/sun.jpg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('/static/img/imagenes/Fondos/sun.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: black; /* Cambia el color de todos los h1 a negro */
}

.text-black {
    color: black; /* Clase para texto negro */
}